



.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 30px;
    background: #333333;
   
    
    
}

.right-side{
    display: flex;
    
  
   
}

.logo{
    max-height: 40px;
}

.nav-wrapper > .right-side > div{
    margin-left: 30px;
    text-transform: uppercase;

}

.nav-link-wrapper a {
    color: #ff0099;

}

.page{
    margin-left: 10% ;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    color: #ff0099;
    
}
.about{
    text-align: left;
    margin-right: 10%; 
    margin-bottom: 5%;

}
span{
   
  text-align: center;
 
}
.page2{
    margin-left: 10% ;
    margin-right: 10%;
}
h3{
    font-size: 2em;
    text-align: center;
    
}
h4{
    font-size: 1.5em;
}
.about{
    
}
